<template>
  <div class="box">
    <h4 class="subtitle is-4">{{ title }}</h4>
    <div v-if="skills.length === 0" class="notification is-warning">
      No se encontraron habilidades
    </div>
    <div v-else class="tags are-medium">
      <SkillListItem
        v-for="{name, level} in skills"
        :name="name"
        :level="level"
        :key="name"
      />
    </div>
  </div>
</template>

<script>
import SkillListItem from './SkillListItem.vue';

export default {
  name: 'SkillList',
  components: {
    SkillListItem,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    skills: {
      type: Array,
    },
  }
};
</script>
