<template>
  <span class="tag is-medium has-background-info has-text-white">{{ name }}{{ skillLevel }}</span>
</template>

<script>
export default {
  name: 'SkillListItem',
  props: {
    name: {
      type: String,
      required: true,
    },
    level: {
      type: String,
      required: false,
    }
  },
  computed: {
    skillLevel() {
      if( typeof(this.level) === 'string' && this.level !== '') {
        return ` - ${this.level}`;
      }
      return '';
    },
  }
};
</script>
