<template>
  <section class="content">
    <h2 class="title">Habilidades</h2>
    <div class="columns">
      <div class="column" v-for="skills in skillSet" :key="skills.title">
        <SkillList v-bind:title="skills.title" v-bind:skills="skills.skills"/>
      </div>
    </div>
  </section>
</template>


<script>
import SkillList from "./SkillComponents/SkillList.vue";
import cvData from "../data/cv.json";

export default {
  name: "TheMainView",
  components: {
    SkillList
  },
  data() {
    return cvData;
  }
};
</script>
