<template>
  <section id="app" class="section">
    <div class="container">
      <TheMainView/>
    </div>
  </section>
</template>

<script>
import TheMainView from './components/TheMainView.vue';

export default {
  name: 'app',
  components: {
    TheMainView,
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
